@charset "utf-8";
/* CSS Document */

html{font-size:13.3333vw;}/* 100/设计图的百分之一（vw） */
html,body{height:100%; font-family: "微软雅黑"}
body{background:#fbfcfd;display:flex;flex-direction:column;}

header{height:.86rem;background:#252525;position:relative;display:flex;justify-content:center;align-items:center; color: #fff; position: relative; font-size: .32rem;}
header span{position: absolute;right: .32rem; border: .02rem solid #fff; width: 1.26rem; height: 0.44rem; font: .22rem/.44rem ""; text-align: center; border-radius: .22rem;}
header span i {font: .22rem/.44rem "" !important;}

main{flex:1;overflow:auto;background:#fff;}
main>section{border-bottom: .1rem solid #f4f5f9;}

.nav{width: 7.1rem;height:.80rem;background:#f8f8f9;padding:0.25rem 0.2rem; background: #fff; position: relative;}
.nav img{width: .8rem; float: left;}
.nav div{float: left; padding-left: .22rem;}
.nav h3{font:.28rem/.5rem ""; color: #222;}
.nav p{font:.22rem/.3rem ""; color: #919191;}
.nav span{ color: #f06000;position: absolute;right: .32rem; border: .02rem solid #f06000; width: 1.12rem; height: 0.48rem; font: .22rem/.48rem ""; text-align: center; border-radius: .22rem;top: 0;bottom: 0;margin: auto;}
.nav span i {font-size: .22rem ; line-height: .48rem;}

.header{width: 7.36rem; height: .8rem; background: #fafafa; border:0.01 solid #dfe1e5;margin: 0 auto;}
.header h3{font:.28rem/.8rem ""; color: #797979; padding-left: .14rem;}
.content img{width: 7.36rem; height: 4.15rem;border:0.01 solid #dfe1e5;margin: 0 auto;}

.zan{display: flex;justify-content: space-between; padding: 0 2rem; line-height: .76rem;}

footer{height:.98rem;background:#f4e4e4;display:flex;justify-content:space-around;}
footer a{margin-top:.1rem;color:#949494;}
footer a i{position:relative;display:block;text-align:center;font-size:.46rem !important;}
footer a i s{position:absolute;right:.14rem;top:-.14rem;height:.36rem;padding:0 .11rem;background:#d43c33;color:#fff;font:.18rem/2 "";border:.04rem solid #444;border-radius:.22rem;transform:translateX(100%);}
footer a span{display:block;font:.2rem/.32rem ""; text-align: center;}
footer a.active{color:#f06000;}
