@charset "utf-8";
/* CSS Document */
*{margin:0px;padding:0px;}
ul{list-style:none;}
a{text-decoration: none;}
#box{width: 999px;margin: 0 auto;}

#header{width:999px;height:60px;background:#ffffff;margin:0 auto; padding-top: 40px;}
#header .logo{width:245px;height:26px; float:left;}
#header .search{width:230px;height:30px;background:#f1f1f1;float:right;}
#header .search input[type="text"]{width:195px;height:26px;border:0;background:#f1f1f1;float:left;text-indent:14px;}
#header .search input[type="submit"]{float:right;border:0;width:29px;height:26px;background:url(../images/search.jpg) no-repeat center; cursor: pointer;}

#nav{width:999px;height:58px;background:#2d2d2d;margin:0 auto;}
#nav ul{height:58px;}
#nav ul li{float:left;width:121px;height:58px;background:#2d2d2d;border-left:1px #484848 solid;color:white;text-align:center;font:12px/59px "";}
#nav ul .st{border:0;}
#banner{width:999px;height:464px;;margin:0 auto;}

#main{height: 240px;width:999px;margin: 0 auto;}
#main>div{padding: 0 25px;}
#main .news{width: 450px; height: 240px;float: left;}
#main .news li{font: 14px/22px  "微软雅黑"; overflow: hidden;}
#main .news li a{color: #505050; width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; float: left;}
#main .news li span{float: right; color: #9b9b9b;}
#main h3{font: 20px/80px normal;}

#main .introduce{width: 190px; height: 240px; float: left; background:#f1f1f1}
#main .introduce p{font:14px/22px "微软雅黑"; margin-bottom: 10px;}
#main .introduce small{font:12px/18px "微软雅黑"; color: #929292;}
#main .joinus{width: 209px; height: 240px; float: left; background:#fbfbfb url(../images/join.png) no-repeat 160px 120px; }
#main .joinus small{font:12px/18px "微软雅黑"; color: #929292;}
#main .joinus p{margin-top: 60px;}
#main .joinus a{ background: #aeaeae; color: #fff;font:12px/20px arial; padding: 2px 6px; border-radius: 4px; }


#market{width: 999px; overflow: hidden;}
#market h3{font: 20px/80px normal; padding-left: 25px;}
#market li{float:left;width:25%;height:241px;background:#ffffff;}
#market li img{width: 211px; display: block; margin: 0 auto;}
#market li p{width: 211px; margin: 0 auto;}

#layer{width:999px;height:250px;background:#e5e5e5;margin:0 auto; overflow: hidden;color: #545454;}
#layer>div{padding: 0 25px;}
#layer h3{border-bottom: 1px solid #c2c2c2;font: 20px/60px normal; margin-bottom: 10px;}
#layer .product{float:left;width:453px;height:250px; }
#layer .product li::before{content: '>'; padding: 0 4% 0 0;}
#layer .product li{font:12px/24px ""; float: left; width: 33%;}
#layer .deve{float:left;width:145px;height:250px;}
#layer .deve li{font:12px/24px ""; width: 145px;}
#layer .deve li::before{content: '>'; padding: 0 4% 0 0;}
#layer .map{float:left;width:250px;height:250px; background: url(../images/map.jpg) no-repeat 20px 60px;}

#footer{width:999px;height:81px;background:#ffffff;margin:0 auto;}
#footer-l{float:left;background:skyblue;}
#footer-r{float:right;background:orange;}
