@charset "utf-8";
/* CSS Document */

html{font-size:15.625vw;}/* 100/设计图的百分之一（vw） */

header{background:#0dc441;height:.88rem;display:flex;justify-content:center;align-items:center;position:relative;}
header .menu{width:.28rem;height:.16rem;border-top:.02rem solid #fff;border-bottom:.02rem solid #fff;display:flex;align-items:center;position:absolute;left:.34rem;top:.34rem;}
header .menu:after{content:"";width:100%;height:.02rem;background:#fff;}
header p{display:flex;text-align:center;border-radius:.24rem;overflow:hidden;}
header p a{width:1.2rem;height:.48rem;background:#3dd067;color:#a3e9b7;
font:.24rem/2 "";
}
header p a.active{background:#64d985;color:#fff;}

nav{height:.7rem;background:rgba(255,255,255,.8);border-bottom:.01rem solid rgba(0,0,0,.15);display:flex;justify-content:space-between;}
nav a{width:2rem;height:.66rem;text-align:center;font:.28rem/.66rem "";}
nav a.active{color:#0dc441;border-bottom:.05rem solid #0dc441;}




footer{height:.87rem;background:#fff;border-top:.01rem solid rgba(0,0,0,.15);position:fixed;left:0;bottom:0;width:100%;}































