/* CSS Document */
*{padding:0px; margin:0px;}
#header{height:35px; background:#ecf0f1;}
#logo{height: 110px; background:#ffffff;}
#nav{height: 50px; background:blue;}
#banner{height: 400px; background:#2d4f6b;}
#hot{height: 110px; background:#fff;}
#news{height: 400px; background:#f8f8f8;}
#product{height: 360px; background:#fff;}
#main{height: 350px; background:#f8f8f8;}
#friend{height: 135px; background:#fff;}
#footer{height: 50px; background:#34495e;}
#copyright{height: 85px; background:#2d3e50;}
