@charset "utf-8";
/* CSS Document */

.margin{width:1140px;margin:0 auto;}

#banner{height:222px;background:url(../images/banner.jpg) no-repeat center 20%;background-size:cover;display:flex;justify-content:center;}
#banner img{height:68px;align-self:center;cursor:pointer;}

nav{display:flex;height:56px;border-top:1px solid #ebebeb;border-bottom:2px solid #e1e1e1;justify-content:center;align-items:center;}
nav ul{display:flex;}
nav ul li a{display:block;font:12px/56px "";padding:0 22px;}
nav ul li a:hover{border-bottom:2px solid #e67e22;}
nav i{width:24px;height:12px;border-top:4px solid #505050;border-bottom:4px solid #505050;display:none;align-items:center;cursor:pointer;}
nav i:after{content:"";width:100%;height:4px;background:#505050;}


main{background:#ebebeb;padding-bottom:35px;}
main article{float:left;width:750px;}
main article ul li{background:#fff;height:400px;margin-top:35px;}
main aside{float:right;width:360px;}
main aside ul li{background:#fff;height:240px;margin-top:35px;}

@media screen and (max-width:1199px){
	.margin{width:940px;}
	main article{width:616px;}
	main aside{width:294px;}
}

@media screen and (max-width:991px){
	.margin{width:720px;}
	main article{float:none;width:auto;}
	main aside{float:none;width:auto;}
}

@media screen and (max-width:767px){
	.margin{width:auto;margin:0 15px;}
	nav ul{display:none;}
	nav i{display:flex;}
}




































































































